<h1 style="text-align:center;"><u>List of devices</u></h1>

<% @devices.search('device').each do |device| %>
  <div style="text-align:center; border:2px solid black;">
    <p> Device name: <%= device.search('name') %> </p>
    <p> Value: <%= device.search('value') %> </p>
    <p> Notes: <%= device.search('notes') %> </p>
  </div>
<% end %>
